.container_wrapper {
  padding: 0;
  margin: 0;
  width: 100%;
  position: relative;

  // Navbar Top
  .navbar_wrapper {
    position: relative;
    
    .navbar_content {
      width: 100%;
      font-size: 14px;
      height: 6rem;
      padding: 0 14rem;
      position: fixed;
      z-index: 5;
      left: 0;
      top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(255, 255, 255, .2);
      ul {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        margin: 0;
        .logo_wrapper, .logo_wrapper a {
          width: 3rem;
          padding: 0;
          margin: 0;
          img {
            width: 100%;
          }
        }
        li , a{
          text-decoration: none;
          text-transform: uppercase;
          list-style: none;
          display: inline-block;
          margin-left: 15px;
          color: black;
        }
      }
    }
  }

  // Contacto
  .container_contacto {
    padding: 2rem 0 0;
    .redes_wrapper {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 2rem 0;
      .redes_content {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        a {
          color: black;
          margin-right: 4rem;
        }
      }
    }
    .datos_wrapper {
      font-size: 18px;
      margin: 3rem 0 0;
      a {
        color: black;
        padding: 2rem 0;
      }
    }

    input, textarea {
      border: none;
      color: black;
      border-bottom: 1px solid gray;
      &:focus {
        box-shadow: none;
      }
    }
    button {
      color: black;
      border-radius: .25rem;
      padding: 1rem 2rem;
      border: none;
      border-bottom: 1px solid gray;
      background-color:transparent;
      transition: .3s ease;
      &:hover{
        background-color: rgba(146, 143, 143, .3);
        // color: white;
      }
    }
    .btn_wrapper {
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
  }
}
.info_content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}