.container_wrapper {
  padding: 0;
  margin: 0;
  width: 100%;
  position: relative;

  // Navbar Top
  .navbar_wrapper {
    position: relative;
    
    .navbar_content {
      width: 100%;
      font-size: 14px;
      height: 6rem;
      padding: 0 14rem;
      position: fixed;
      z-index: 5;
      left: 0;
      top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: rgba(255, 255, 255, .2);
      ul {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        margin: 0;
        .logo_wrapper, .logo_wrapper a {
          width: 3rem;
          padding: 0;
          margin: 0;
          img {
            width: 100%;
          }
        }
        li , a{
          text-decoration: none;
          text-transform: uppercase;
          list-style: none;
          display: inline-block;
          margin-left: 15px;
          color: black;
        }
      }
    }
  }
}