@import '../index.scss';

.container_wrapper {
  padding: 0;
  margin: 0;
  width: 100%;
  position: relative;

  // Navbar Top
  .navbar_wrapper {
    // position: relative;
    .active_nav {
      background-color: white !important;
    }
    .navbar_content {
      width: 100%;
      font-size: 14px;
      height: 5.5rem;
      padding: 0 14rem;
      position: absolute;
      z-index: 5;
      left: 0;
      top: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      ul {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0;
        margin: 0;
        .logo_wrapper, .logo_wrapper a {
          width: 3rem;
          padding: 0;
          margin: 0;
          img {
            width: 100%;
          }
        }
        li , a{
          text-decoration: none;
          text-transform: uppercase;
          list-style: none;
          display: inline-block;
          margin-left: 15px;
          color: black;
          font-weight: 500;
        }
      }
    }
  }

  // Servicios
  .container_services {
    height: 100%;
    padding: 2rem 0 0;
    .container_list{
      height: 35rem;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    .list_service {
      height: 100%;
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      text-decoration: none;
      list-style: none;
      padding: 20px 0;
      font-size: 23px;
      font-family: 'Source Code Pro', monospace;
      position: relative;
      li {
        width: 100%;
        .text-li {
          color: gray;
          text-decoration: none;
          width: 40% ;
          height: inherit;
          padding: .6rem 0;
          display: flex;
          transition: padding-left .5s ease, font-size .3s;
        }
        &:hover .text-li{
          font-size: 25px;
          color: $color-white !important;
          padding-left: 1.5rem;
          border-left: 1px solid $color-white;
        }
        &:hover .imagen_wrapper .img_service {
          opacity: 1 !important;
        }
        .imagen_wrapper {
          width: 60%;
          height: 100%;
          position: absolute;
          top: 0;
          right: 0;
          display: flex;
          justify-content: flex-start;
          align-items: center;
          transition: .2s ease;
          .img_service {
            opacity: 0;
            width: 100%;
            img {
              width: 100%;
            }
          }
        }
      }
      .icon{
        width: 4rem;
      }
      .text-list {
        padding: 0 0 0 2rem;
        margin: 0;
      }
    }
  }

  // Contacto
  .contacto {
    height: 105vh;
    background-image: url('../images/triangulo.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .container_contacto {
    height: 76vh !important;
    padding: 2rem 0 0;
    .redes_wrapper {
      // height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 2rem 0;
      .redes_content {
        width: 100%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        a {
          color: black;
          margin-right: 4rem;
        }
      }
    }
    .datos_wrapper {
      font-size: 18px;
      margin: 3rem 0 0;
      a {
        color: black;
        padding: 2rem 0;
      }
    }

    input, textarea {
      border: none;
      color: black;
      border-bottom: 1px solid gray;
      &:focus {
        box-shadow: none;
      }
    }
    button {
      color: black;
      border-radius: .25rem;
      padding: 1rem 2rem;
      border: none;
      border-bottom: 1px solid gray;
      background-color:transparent;
      transition: .3s ease;
      &:hover{
        background-color: rgba(146, 143, 143, .3);
        // color: white;
      }
    }
    .btn_wrapper {
      width: 100%;
      display: flex;
      justify-content: flex-end;
    }
  }

  // About
  .content-about {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    .wrapper-img {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      img {
        width: 100%;
        filter: grayscale(1);
      }
    }
    .wrapper-info {
      width: 85%;
      padding: 1rem 3rem 0 1rem;
      font-size: 18px;
      // font-family: 'Roboto Slab', serif; 
      .wrapper_text {
        padding: 1rem 0;
      }
    }
  }
  .grid_clients{
    height: 100%;
    padding: 0 0 6rem;
    .content_img{
      width: 100%;
      padding: 2rem 0;
      height: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center;
      img {
        width: 11rem;
        filter: brightness(0);
        transition: .5s ease;
        &:hover {
          filter: brightness(1);
        }
      }
    }
  }
  .list_banner {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 3rem;
    margin: 0;
    font-size: 30px;
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
    li{
      text-decoration: none;
      list-style: none;
      .redes_content a{
        padding: 0 1rem;
      }
    }
  }

  // Footer
  .footer_wrapper {
    width: 100%;
    // background-color: black;
    .list_footer {
      height: 4rem;
      margin: 0;
      // color: white;
      list-style: none;
      text-decoration: none;
      display: flex;
      justify-content: space-around;
      align-items: center;
      .redes_content a{
        padding: 0 1rem;
      }
    }
  }
}
.info_content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}